<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NationalBank</display-name>
  <welcome-file-list>
    <welcome-file>logIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewCustomerController</display-name>
    <servlet-name>ViewCustomerController</servlet-name>
    <servlet-class>com.nationalbank.controller.ViewCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerController</servlet-name>
    <url-pattern>/ViewCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerController</display-name>
    <servlet-name>AddCustomerController</servlet-name>
    <servlet-class>com.nationalbank.controller.AddCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerController</servlet-name>
    <url-pattern>/AddCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.nationalbank.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerController</display-name>
    <servlet-name>UpdateCustomerController</servlet-name>
    <servlet-class>com.nationalbank.controller.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerController</servlet-name>
    <url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerController</display-name>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>com.nationalbank.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerStatusController</display-name>
    <servlet-name>CustomerStatusController</servlet-name>
    <servlet-class>com.nationalbank.controller.CustomerStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerStatusController</servlet-name>
    <url-pattern>/CustomerStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfileController</display-name>
    <servlet-name>CustomerProfileController</servlet-name>
    <servlet-class>com.nationalbank.controller.CustomerProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfileController</servlet-name>
    <url-pattern>/CustomerProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusController</display-name>
    <servlet-name>UpdateStatusController</servlet-name>
    <servlet-class>com.nationalbank.controller.UpdateStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusController</servlet-name>
    <url-pattern>/UpdateStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogInController</display-name>
    <servlet-name>EmployeeLogInController</servlet-name>
    <servlet-class>com.nationalbank.controller.EmployeeLogInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogInController</servlet-name>
    <url-pattern>/EmployeeLogInController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogOutController</display-name>
    <servlet-name>EmployeeLogOutController</servlet-name>
    <servlet-class>com.nationalbank.controller.EmployeeLogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogOutController</servlet-name>
    <url-pattern>/EmployeeLogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountStatusController</display-name>
    <servlet-name>AccountStatusController</servlet-name>
    <servlet-class>com.nationalbank.controller.AccountStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountStatusController</servlet-name>
    <url-pattern>/AccountStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountController</display-name>
    <servlet-name>AddAccountController</servlet-name>
    <servlet-class>com.nationalbank.controller.AddAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountController</servlet-name>
    <url-pattern>/AddAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountController</display-name>
    <servlet-name>CustomerAccountController</servlet-name>
    <servlet-class>com.nationalbank.controller.CustomerAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountController</servlet-name>
    <url-pattern>/CustomerAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountController</display-name>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>com.nationalbank.controller.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashierController</display-name>
    <servlet-name>CashierController</servlet-name>
    <servlet-class>com.nationalbank.controller.CashierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashierController</servlet-name>
    <url-pattern>/CashierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.nationalbank.controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/DepositController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DWTController</display-name>
    <servlet-name>DWTController</servlet-name>
    <servlet-class>com.nationalbank.controller.DWTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DWTController</servlet-name>
    <url-pattern>/DWTController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintStatement</display-name>
    <servlet-name>PrintStatement</servlet-name>
    <servlet-class>com.nationalbank.controller.PrintStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintStatement</servlet-name>
    <url-pattern>/PrintStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectAccountInfo</display-name>
    <servlet-name>RedirectAccountInfo</servlet-name>
    <servlet-class>com.nationalbank.controller.RedirectAccountInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectAccountInfo</servlet-name>
    <url-pattern>/RedirectAccountInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferController</display-name>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>com.nationalbank.controller.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/TransferController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawController</display-name>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>com.nationalbank.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/WithdrawController</url-pattern>
  </servlet-mapping>
</web-app>